body {
    background-color: rgb(255, 255, 255);
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
}

p, a {
    font-family: "Fira Sans", sans-serif;
}

header div{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

header div h3 ul li{
    padding: 2px;
}

header h3{
    text-align:left;
}

section{
    color: rgb(0, 0, 0);

}
