/*------------------FONT--------------*/
@font-face {
    font-family: "bahnschrift";
    src: url(BAHNSCHRIFT.ttf) format("truetype");
}

/*--------------------HTML, BODY------------*/
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*----------------HEADER, NAVBAR, HAMBURGER---------*/

    nav{
    background-color: #70a9a1;
    height: 95px;
    width: 100%;
    font-family: 'bahnschrift', fallback;
    }

    /*---------LOGO NAVBAR--------*/
    label.logo{
        color: rgb(255, 255, 255);
        font-size: 100px;
        line-height: 140px;
        padding: 0 20px;
        font-weight: bold;
    }
    
    nav ul{
    float: right;
    margin-right: 20px;
    }
    
    nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    text-transform: uppercase;
    }

    /*--------NOMI PARAGRAFO NAVBAR-------*/
    nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3;
    text-decoration: none;
    font-weight: bold;
    }
    
    a.active,a:hover{
    background: #494949;
    transition: .5s;
    border-radius: 10px;
    }

   /*----------HAMBURGER---------*/ 
    .checkbtn{
    font-size: 30px;
    color:rgb(255, 255, 255);
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #check{
       display: none;
    }

    /*------------------X ICON DOPO HAMBURGER------------*/
    .checkbtn1 {
        position: relative; 
        left: 37%; 
        top: 10px; 
        cursor: pointer;
        display: none;
    }
    
    /*-----------------CORPO------------------*/

.content {
    max-width: 95%; /*Aumenta dimensione colonne*/
    margin: 0 auto;
    margin-top: 60px;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.column {
    flex: 1; 
}

/*--------------BLOCCO TESTO----------*/
.column.text {
    background-color: #ffffff; /*Background*/
    padding: 20px;
    text-align: left;
    font-size: 20px; /*Dimensione*/ 
    font-family: 'bahnschrift', fallback; /*Font*/
    font-weight: lighter;
}

/*---------------BLOCCO TITOLO-------------*/
.column.title {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'bahnschrift', fallback;
    font-weight: bolder;
}

.column.title h2 {
    font-size: 60px; /*Dimensione*/
}

@media (max-width: 1200px) {
label.logo{
    font-size: 50px; /*Dimensione logo dopo ridimensionamento*/
    padding-left: 15px;
    line-height: 90px;
}

/*---------ICONA HAMBURGER------*/
.checkbtn{
display: block;
}

/*---------ICONA X------*/
.checkbtn1{
    display: block;
    }

/*----------LISTA AFTER HAMBURGER---------*/  
ul{
position: fixed;
width: 100%;
height: 100vh;
background: #70a9a1;
top: 0px;
left: -120%;
text-align: center;
padding-left: 0;
margin: 0;
transition: .5s;
}

nav ul li{
display: block;
}

nav ul li a{
font-size: 20px;
}

a:hover,a.active{
color:rgb(131, 131, 131)
}

#check:checked ~ ul{
    left:0%;
    transition: all .5s;
    z-index: 1;
}

/*---------------BLOCCO TESTO-TITOLO DOPO RIDIMENSIONAMENTO*/
    .content {
        max-width: 100%;
    }

    .column {
        padding: 10px;
    }

    .column.title h2 {
        font-size: 50px; 
    }
    .column.text{
        font-size:20px
    }
    .row {
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center; 
        justify-content: normal; 
    }
    .row:nth-child(even) {
        flex-direction: column;
    }  
}

