body {
    text-align: center;
    margin:0;
    padding:0;
    overflow-x: hidden; /* Aggiunto per nascondere l'overflow orizzontale */
}

header {
    
    top: 0; /* Allinea l'intestazione in cima alla pagina */
    width: 100%; /* Imposta la larghezza dell'intestazione al 100% del viewport */
    background-color: #333;
    color: white;
    padding: 0px;
    z-index: 1; 
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

.content {
    max-width: 95%; /*aumenta dimensione colonne*/
    margin: 0 auto;
    margin-top: 60px;
    box-sizing: border-box;
}

/* Crea una riga flex */
.row {
    display: flex;
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    justify-content: space-between; /* Allontana le colonne ai lati opposti del contenitore */
}

/* Crea colonne flex */
.column {
    flex: 5; /* Imposta la larghezza delle colonne in modo che occupino lo stesso spazio */
}

.column.text {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    font-size: 20px; /*aumenta dimensione testo affiancato*/ 
}

.column.title {
    padding: 20px;
    background-color: #ffffff;
}

.column.title h2 {
    font-size: 60px; /* Aumenta la dimensione del font del titolo */
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


@media (max-width: 800px) {
    header{
        font-size: 12px;
    }
     nav{font-size: 10px;}

    .content {
        max-width: 100%;
    }

    .column {
        padding: 10px;
    }

    .column.title h2 {
        font-size: 50px; /* Riduci la dimensione del font del titolo per i dispositivi con larghezza inferiore a 600px */
    }
    .column.text{
        font-size:20px
    }

    /* Imposta l'orientamento delle colonne su verticale quando la larghezza del viewport è inferiore a 600px */
    .row {
        flex-direction: column-reverse;
        align-items: center; /* Allinea verticalmente gli elementi al centro */
        text-align: center; /* Allinea al centro il testo della riga */
        justify-content: normal; /* Imposta la distribuzione normale del contenuto quando la larghezza del viewport è inferiore a 600px */
    }
    .row:nth-child(even) {
        flex-direction: column;
    }

    
}

