body {
 
    margin:0;
    padding:0;
    overflow-x: hidden; /* Aggiunto per nascondere l'overflow orizzontale */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    
    top: 0; /* Allinea l'intestazione in cima alla pagina */
    width: 100%; /* Imposta la larghezza dell'intestazione al 100% del viewport */
    background-color: #333;
    color: white;
    padding: 0px;
    z-index: 1; 
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

.content {
    max-width: 95%; /*aumenta dimensione colonne*/
    margin: 0 auto;
    margin-top: 60px;
    box-sizing: border-box;
}

/* Crea una riga flex */
.row {
    display: flex;
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    justify-content: space-between; /* Allontana le colonne ai lati opposti del contenitore */
}

/* Crea colonne flex */
.column {
    flex: 5; /* Imposta la larghezza delle colonne in modo che occupino lo stesso spazio */
}

.column.text {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    font-size: 20px; /*aumenta dimensione testo affiancato*/ 
}

.column.title {
    padding: 20px;
    background-color: #ffffff;
}

.column.title h2 {
    font-size: 60px; /* Aumenta la dimensione del font del titolo */
}

nav{
background-color: aqua;
height: 97px;
width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
float: right;
margin-right: 20px;
z-index: 1;
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
text-transform: uppercase;
}

nav u li a{
color: rgb(255, 0, 13);
font-size: 17px;
text-transform: uppercase;
padding: 7px 13px;
border-radius: 3;
}

a.active,a:hover{
background: #333;
transition: .5s;

}

.checkbtn{
font-size: 30px;
color:rgb(0, 255, 21);
float:right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
    display: none;
}

@media (max-width: 800px) {
label.logo{
    font-size: 30px;
    padding-left: 50px;

}
nav ul li a{
    font-size: 16px;
    margin: 50px;
    line-height: 30px;
}

.checkbtn{
display: block;
}

ul{
position: fixed;
width: 100%;
height: 100vh;
background: goldenrod;
top: 80px;
left: -100%;
text-align: center;
padding-left: 0;
margin: 0;

transition: all .5s;
}

nav ul li{
display: block;
}

nav ul li a{
font-size: 20px;
}

a:hover,a.active{
background: none;
color:rgb(255, 0, 13)

}

#check:checked ~ ul{
    left:0%;
}


    header{
        font-size: 12px;
    }
     
    .content {
        max-width: 100%;
    }

    .column {
        padding: 10px;
    }

    .column.title h2 {
        font-size: 50px; /* Riduci la dimensione del font del titolo per i dispositivi con larghezza inferiore a 600px */
    }
    .column.text{
        font-size:20px
    }

    /* Imposta l'orientamento delle colonne su verticale quando la larghezza del viewport è inferiore a 600px */
    .row {
        flex-direction: column-reverse;
        align-items: center; /* Allinea verticalmente gli elementi al centro */
        text-align: center; /* Allinea al centro il testo della riga */
        justify-content: normal; /* Imposta la distribuzione normale del contenuto quando la larghezza del viewport è inferiore a 600px */
    }
    .row:nth-child(even) {
        flex-direction: column;
    }

    
}

