.multi-container .container:first-child .x-axis {
    display: none;
}

.multi-container .container:first-child .y-axis path {
    display: none;
}

.multi-container .container:not(:first-child) .y-axis g {
    display: none;
}